<h1><%= @name %> </h1>
<h3><a href="mailto:" + <%= @user_profile[:email] %> ><%= @user_profile[:email] %>
</a> </h3>

<h4> Interests: </h4>
<ul>
  <% @user_profile[:interests].each do |interest| %>
    <li>
      <%= interest %>
    </li>
  <% end %>
</ul>

<% @names.keys.each do |each_name| %>

  <% if each_name.to_s != @name %>
  <pre><a href='/<%= each_name %>' > <%= each_name %> </a></pre>
  <% end %>
<% end %>
