<h1><%= @name %> </h1>
<h3><a href="mailto:" + <%= @user_profile[:email] %> ><%= @user_profile[:email] %>
</a> </h3>

<p><strong> Interests include: </strong><%= @user_profile[:interests].join(", ") %> </p>

</br>

<% @names.keys.each do |each_name| %>

  <% if each_name.to_s != @name %>
  <pre><a href='/<%= each_name %>' > <%= each_name %> </a></pre>
  <% end %>
<% end %>
